{% extends 'base.html' %}

{% block content %}
    <h2>Upload Your Tennis Video</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="videoUpload">Choose video</label>
            <input type="file" class="form-control-file" id="videoUpload" name="video" required> <!-- The name attribute matches the Flask route now -->
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
{% endblock %}
